# CI for Ad Service

name: ad-ci

on: 
    pull_request: 
        branches:
        - main
        paths:
        - 'src/ad/**'
    workflow_dispatch:
        inputs:
            debug:
                description: 'Run in debug mode'
                required: false
                default: 'false'
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name:  Setup Java 21
          uses: actions/setup-java@v4
          with: 
            distribution: 'temurin'
            java-version: '21'
            cache: 'gradle'
        
        - name: Make gradlew executable
          run:  chmod +x src/ad/gradlew
          
        - name: Build with Gradle
          run: |
            cd src/ad
            ./gradlew build -x test

        - name: Run unit tests
          run: |
            cd src/ad
            ./gradlew test
    
    code-quality: 
        runs-on: ubuntu-latest

        steps:
        - name: checkout code
          uses: actions/checkout@v4
        
        - name: Setup Java 21
          uses: actions/setup-java@v4
          with: 
            distribution: 'temurin'
            java-version:  '21'
            cache: 'gradle'
        
        - name: Make gradlew executable
          run: chmod +x src/ad/gradlew
        
        - name: Run Google Java Format check
          run: |
            cd src/ad
            ./gradlew googleJavaFormat
          continue-on-error: true

    docker:
        runs-on: ubuntu-latest

        needs:  build

        steps:
        - name: checkout code
          uses:  actions/checkout@v4

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets. DOCKER_TOKEN }}

        - name: Build and Push Docker Image
          uses: docker/build-push-action@v6
          with:
            context: src/ad
            file: src/ad/Dockerfile
            push: true
            tags: ${{ secrets. DOCKER_USERNAME }}/ad:${{github.run_id}}

    
    updatek8s: 
        runs-on: ubuntu-latest

        needs: docker

        steps:
        - name: checkout code
          uses: actions/checkout@v4
          with: 
            token: ${{ secrets. GITHUB_TOKEN }}

        - name: Update tag in kubernetes deployment manifest
          run: | 
               sed -i "s|image: .*|image: ${{ secrets. DOCKER_USERNAME }}/ad: ${{github.run_id}}|" kubernetes/ad/deploy. yaml
        
      