# CI for Payment Service

name: payment-ci

on:  
    pull_request:
        branches: 
        - main
        paths:
        - 'src/payment/**'
    workflow_dispatch:
        inputs:
            debug:
                description: 'Run in debug mode'
                required: false
                default: 'false'
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Setup Node. js
          uses: actions/setup-node@v4
          with:
            node-version: '18'
            cache: 'npm'
            cache-dependency-path: src/payment/package-lock.json
        
        - name: Install dependencies
          run: |
            cd src/payment
            npm ci

        - name: Build
          run: |
            cd src/payment
            npm run build --if-present

        - name:  Unit tests
          run: |
            cd src/payment
            npm test --if-present
    
    code-quality:
        runs-on: ubuntu-latest

        steps:
        - name:  checkout code
          uses: actions/checkout@v4
        
        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '18'
            cache:  'npm'
            cache-dependency-path: src/payment/package-lock.json
        
        - name: Install dependencies
          run: |
            cd src/payment
            npm ci
        
        - name: Run ESLint
          run: |
            cd src/payment
            npm run lint --if-present
          continue-on-error: true

    docker: 
        runs-on: ubuntu-latest

        needs: build

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}

        - name: Build and Push Docker Image
          uses: docker/build-push-action@v6
          with:
            context:  src/payment
            file: src/payment/Dockerfile
            push: true
            tags:  ${{ secrets.DOCKER_USERNAME }}/payment:${{github.run_id}}

    
    updatek8s:
        runs-on: ubuntu-latest

        needs:  docker

        steps:
        - name: checkout code
          uses:  actions/checkout@v4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}

        - name: Update tag in kubernetes deployment manifest
          run: | 
               sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/payment:${{github.run_id}}|" kubernetes/payment/deploy.yaml
        
        
            